body{
	background-color:#f6f9fc;
	margin: auto;
}
#top{
	float:top;
	min-height: 80px;
	/*background-color: #cee3f8;*/
	min-width: 100%;
}
#main{
	min-height:450px;
	width:100%;
	min-width: 900px;
	overflow:hidden;
}
#left{
	float:left;
	border-radius:4;
	min-height:450px;
	max-height:88%;
	height:88%;
	width: calc(100% - 210px);
	width:-moz-calc(100%-210px);
	width: -webkit-calc(100%-210px);
	width: -o-calc(100%-210px);
	min-width:700px;
	/*
	background-color:#f3f3f3;*/
	background-color:#f6f9fc;
	overflow-y:scroll;

}

.contentBox{
	width:100%;
	height:300px;
	/*background-color: #e9e9e9;*/
	background-color:#f6f9fc;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
	min-width: 700px;
	overflow-x:hidden;
	overflow-y:hidden;
}
.contentBoxLeft{
	float:left;
	width:60%;
}
.upvote{

	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 50px 0 0 50px;
	border-color: transparent transparent transparent #ffc47e;
	
	/*
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 50px 50px;
	border-color: #f7f7f8 #f7f7f8 #ffc47e #f7f7f8;
	*/
}
.upvote:hover{
	background-color: #ff6600;
}

.downvote{
	
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 50px 50px 0 0;
	border-color: #a5c1ff transparent transparent transparent;
		
/*
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 50px 50px 0;
	border-color: #f7f7f8 #007bff #f7f7f8 #f7f7f8;
*/
}
.downvote:hover{
	background-color: #9494ff;
}
#focus{
	padding: 10px;
}
.imgBox{
	float:right;


	background-color: red;
}

.min:hover{
background: #5584a8; /* Old browsers */
background: -moz-linear-gradient(-45deg, #5584a8 0%, #7db9e8 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#5584a8), color-stop(98%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #5584a8 0%,#7db9e8 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #5584a8 0%,#7db9e8 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #5584a8 0%,#7db9e8 98%); /* IE10+ */
background: linear-gradient(135deg, #5584a8 0%,#7db9e8 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5584a8', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.others{
	width:100%;
	height:200px;
}
.paragraphSubmitted{
	color:#3e3e3e;
	letter-spacing: 1px;
	font-size: 10;
}
.paragraphTitle{
	color:#336699;
	font-size: 20;
}
#right{
	float:right;
	text-align:center;
	color:#336699;
	width:200px;
}
#s1{
	margin:5px;
	border-radius:8px;
	padding: 10px;
	background-color: #eee3f8;
}
#s1:hover{
	background-color: #3fe216;
}

#sr{
	margin:2px;
	border-radius: 8px;
	height:100px;
	width:190px;
	background-color: #e9e9e9;
}
#sort, #submit, #subscribe, #sidebar, #switch{
	min-height:50px;
	border-radius: 4px;
	background-color: #e9e9e9;
	height:5%;
	overflow-y:scroll;
}
#subreddits{
	min-height: 200px;
	border-radius: 4px;
	height:55%;
	background-color: #f3f3f3;
	overflow-y:scroll;
}
.titleBox{
	min-width: 100%;
	width:100%;
	height:100px;
	max-height:100px;
	background-color: #ffffff;
}
.title{
	float:right;
	width: calc(100% - 50px);
	width:-moz-calc(100%-50px);
	width: -webkit-calc(100%-50px);
	width: -o-calc(100%-50px);
}

.upDown{
	float:left;
	height:100px;
	width:50px;
}


