body{
	background-color:#f7f7f8;
	font-family: 'Lato',serif;
}
.comment{
	width:200px;
	height:60px;
	background-color: #e4edf7;
	margin:0 auto;
	text-align:center;
	border-radius: 8px;
}
.comment:hover{
	background: #5584a8; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #5584a8 0%, #7db9e8 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#5584a8), color-stop(98%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #5584a8 0%,#7db9e8 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #5584a8 0%,#7db9e8 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #5584a8 0%,#7db9e8 98%); /* IE10+ */
	background: linear-gradient(135deg, #5584a8 0%,#7db9e8 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5584a8', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.contentBoxLeft{
	float:left;
	width:50%;
}
.downvote{
	height:50px;
	border-bottom-left-radius:8px;
	border-top-right-radius: 15px;
	width:50px;
	background-color: #a5c1ff;
}
.downvote:hover{
	background-color: #9494ff;
}
#focus{
	padding: 10px;
}
.imgBox{
	float:right;
	width:50%;
	height:300px;
-	max-width:50%;
	max-height:300px;
	background-color: #333333;
	border-radius:8px;
	overflow:hidden;
}
.imgBox img{

}
.imgContentBox{
	width:100%;
	height:300px;
	border-radius:10px;
	margin-top:10px;
	margin-bottom:10px;
	min-width: 700px;
}
.imgOthers{
	width:100%;
	height:200px;
}
.selfContentBox{
	width:100%;
	height:160px;
	border-radius:10px;
	margin-top:10px;
	margin-bottom:10px;
	min-width: 700px;
}
#left{
	float:left;
	border-radius:4;
	min-height:450px;
	max-height:88%;
	height:88%;
	width: calc(100% - 210px);
	width:-moz-calc(100%-210px);
	width: -webkit-calc(100%-210px);
	width: -o-calc(100%-210px);
	min-width:700px;
	overflow-y:scroll;

}
#main{
	min-height:450px;
	width:100%;
	min-width: 900px;
	overflow:hidden;
}
.min:hover{
background: #5584a8; /* Old browsers */
background: -moz-linear-gradient(-45deg, #5584a8 0%, #7db9e8 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#5584a8), color-stop(98%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #5584a8 0%,#7db9e8 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #5584a8 0%,#7db9e8 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #5584a8 0%,#7db9e8 98%); /* IE10+ */
background: linear-gradient(135deg, #5584a8 0%,#7db9e8 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5584a8', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.others{
	width:100%;
	height:60px;
}
.paragraphComment{
	margin:0 auto;
}
.paragraphSubmitted{
	color:#3e3e3e;
	letter-spacing: 1px;
	font-size: 13;
	margin:0px;
	padding-left: 20px;
	position: absolute;
	bottom: 10px;
}
.paragraphTitle{
	color:#336699;
	font-size: 25;
	margin:0px;
	padding-top: 10px;
	padding-left: 20px;
}
#right{
	float:right;
	text-align:center;
	color:#336699;
	width:200px;
}
.selfBox{
	float:right;
	width:50%;
	height:160px;
	max-width:50%;
	max-height:160px;
	background-color: #333333;
	border-radius:8px;
	overflow:hidden;
	color:#336699;
	text-align:center;
}
#s1{
	margin:5px;
	border-radius:8px;
	padding: 10px;
	background-color: #eee3f8;
}
#s1:hover{
	background-color: #3fe216;
}

#sr{
	margin:2px;
	border-radius: 8px;
	height:100px;
	width:190px;
	background-color: #e9e9e9;
}
#sort, #submit, #subscribe, #sidebar, #switch{
	min-height:50px;
	border-radius: 4px;
	background-color: #e9e9e9;
	height:5%;
	overflow-y:scroll;
}
#subreddits{
	min-height: 200px;
	border-radius: 4px;
	height:55%;
	background-color: #f3f3f3;
	overflow-y:scroll;
}
.titleBox{
	position: relative;
	min-width: 100%;
	width:100%;
	height:100px;
	max-height:100px;
	border-radius:8px;
	background-color: #ffffff;
}
.title{
	float:right;
	width: calc(100% - 50px);
	width:-moz-calc(100%-50px);
	width: -webkit-calc(100%-50px);
	width: -o-calc(100%-50px);
}
#top{
	float:top;
	min-height: 80px;
	background-color: #cee3f8;
	min-width: 100%;
}
.upDown{
	float:left;
	height:100px;
	width:50px;
}
.upvote{
	height:50px;
	border-top-left-radius:8px;
	border-bottom-right-radius: 15px;
	background-color: #ffc47e;
	width:50px;
}
.upvote:hover{
	background-color: #ff6600;
}

